<div class="event-form">
  <nz-card
    [nzTitle]="'events.form.CardTitle' | translate"
    class="event-form-card"
    [nzActions]="[actionButtons]"
  >
    <form
      nz-form
      nzLayout="vertical"
      [formGroup]="eventForm.form"
      (ngSubmit)="submit()"
    >
      <nz-row nzGutter="16">
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="title" [nzRequired]="true">
              {{ "events.form.TitleLabel" | translate }}
            </nz-form-label>
            <nz-form-control
              [nzErrorTip]="'events.form.TitleError' | translate"
              [nzValidateStatus]="
                eventForm.form.get('title')?.invalid &&
                eventForm.form.get('title')?.touched
                  ? 'error'
                  : ''
              "
            >
              <input nz-input id="title" formControlName="title" />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="venue" [nzRequired]="true">
              {{ "events.form.LocationLabel" | translate }}</nz-form-label
            >
            <nz-form-control
              [nzErrorTip]="'events.form.LocationError' | translate"
              [nzValidateStatus]="
                eventForm.form.get('venueId')?.invalid &&
                eventForm.form.get('venueId')?.touched
                  ? 'error'
                  : ''
              "
            >
              <input nz-input id="venue" formControlName="venueId" />
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-row nzGutter="16">
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="startDateTime" [nzRequired]="true">
              {{ "events.form.DateTimeLabel" | translate }}</nz-form-label
            >
            <nz-form-control
              nzErrorTip="Please select date and time"
              [nzValidateStatus]="
                eventForm.form.get('startDateTime')?.invalid &&
                eventForm.form.get('startDateTime')?.touched
                  ? 'error'
                  : ''
              "
            >
              <nz-date-picker
                id="startDateTime"
                formControlName="startDateTime"
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm"
                [nzPlaceHolder]="'events.form.DateTimePlaceholder' | translate"
                style="width: 100%"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="timezone" [nzRequired]="true">
              {{ "events.form.TimezoneLabel" | translate }}</nz-form-label
            >
            <nz-form-control
              [nzErrorTip]="'events.form.TimezoneError' | translate"
              [nzValidateStatus]="
                eventForm.form.get('timezone')?.invalid &&
                eventForm.form.get('timezone')?.touched
                  ? 'error'
                  : ''
              "
            >
              <nz-select
                id="timezone"
                formControlName="timezone"
                [nzPlaceHolder]="'events.form.TimezonePlaceholder' | translate"
                nzShowSearch
                style="width: 100%"
              >
                <nz-option
                  *ngFor="let tz of timeZones"
                  [nzLabel]="tz"
                  [nzValue]="tz"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-form-item>
        <nz-form-label nzFor="description">
          {{ "events.form.DescriptionLabel" | translate }}</nz-form-label
        >
        <nz-form-control>
          <textarea
            nz-input
            id="description"
            formControlName="description"
            [nzAutosize]="{ minRows: 3, maxRows: 6 }"
            [placeholder]="'events.form.DescriptionPlaceholder' | translate"
          ></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-row nzGutter="16">
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="primaryImage">
              {{ "events.form.PrimaryImageLabel" | translate }}</nz-form-label
            >
            <nz-form-control>
              <nz-upload
                nzListType="picture-card"
                [(nzFileList)]="primaryImageHandler.fileList"
                [nzShowButton]="primaryImageHandler.fileList.length < 1"
                [nzLimit]="1"
                nzAccept="image/*"
                [nzBeforeUpload]="primaryImageHandler.beforeUpload"
                (nzRemove)="primaryImageHandler.remove()"
              >
                <nz-icon nzType="plus"></nz-icon>
                <div class="ant-upload-text">
                  {{ "common.Upload" | translate }}
                </div>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzFor="coverImage">
              {{ "events.form.CoverImageLabel" | translate }}</nz-form-label
            >
            <nz-form-control>
              <nz-upload
                nzListType="picture-card"
                [(nzFileList)]="coverImageHandler.fileList"
                [nzShowButton]="coverImageHandler.fileList.length < 1"
                [nzLimit]="1"
                nzAccept="image/*"
                [nzBeforeUpload]="coverImageHandler.beforeUpload"
                (nzRemove)="coverImageHandler.remove()"
              >
                <nz-icon nzType="plus"></nz-icon>
                <div class="ant-upload-text">
                  {{ "common.Upload" | translate }}
                </div>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </nz-col>
      </nz-row>

      <nz-form-item>
        <nz-form-label nzFor="isPublic">
          {{ "events.form.PublicEventLabel" | translate }}</nz-form-label
        >
        <nz-form-control>
          <nz-switch
            id="isPublic"
            formControlName="isPublic"
            nzCheckedChildren="Public"
            nzUnCheckedChildren="Private"
          ></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
</div>

<ng-template #actionButtons>
  <nz-space class="action-buttons">
    <button
      *nzSpaceItem
      nz-button
      type="button"
      (click)="cancel()"
      [disabled]="eventState.loading()"
    >
      {{ "common.Cancel" | translate }}
    </button>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      type="submit"
      [nzLoading]="eventState.loading()"
      [disabled]="eventState.loading()"
    >
      {{ "common.Submit" | translate }}
    </button>
  </nz-space>
</ng-template>
